<h2><%= @restaurant.name %></h2>
<h4><%= @restaurant.category.capitalize + ' cuisine'%></h4>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>


<%= link_to new_restaurant_path(@restaurant) do%>
  <p><i class="fas fa-pencil-alt"></i> Write a review </p>
<% end %>
<% @review = Review.new %>
<%= render 'form_review' %>

<h5>Reviews:</h5>

<% @restaurant.reviews.each do |review| %>
    <p><%= '⭐️' * review.rating %> <%= review.content %></p> <p>posted on <%= review.created_at.to_date %></p>
  <hr>
<% end %>

<%= link_to restaurants_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
